
<h1>Добавить клиента</h1>

<form asp-action="AddPerson">
    <div class="form-group">
        <label>ФИО клиента:</label>
        <input type="text" class="form-control" name="FIO" pattern="[А-ЯЁ][а-яё]+\s[А-ЯЁ][а-яё]+\s[А-ЯЁ][а-яё]+" title="Введите три слова с большой буквы русскими буквами" required>
    </div>
    <div class="form-group">
        <label>Возраст клиента:</label>
        <input type="number" class="form-control" name="Age" min="18" max="100" required>
    </div>
    <div class="form-group">
        <label>Тип страхования:</label>
        <select class="form-control" name="InsuranceType" required>
            <option value="">Выберите тип страхования</option>
            <option value="от несчастных случаев">От несчастных случаев</option>
            <option value="от потери работы">От потери работы</option>
            <option value="от безмозглия">От безмозглия</option>
        </select>
    </div>
    <div class="form-group">
        <label>Ежемесячная сумма:</label>
        <input type="number" class="form-control" name="MounthPayment" min="1000" step="0.01" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить клиента</button>
</form>
